@charset "UTF-8";

@font-face {
  font-family: 'Source Serif Pro';
  font-display: fallback;
  font-weight: 200 900;
  font-style: normal;
  font-stretch: normal;
  src: url('/fonts/SourceSerif/WOFF2/VAR/SourceSerifVariable-Roman.ttf.subset.woff2') format('woff2'),
       url('/fonts/SourceSerif/WOFF/VAR/SourceSerifVariable-Roman.ttf.subset.woff') format('woff'),
       url('/fonts/SourceSerif/VAR/SourceSerifVariable-Roman.subset.ttf') format('truetype');
  unicode-range: U+000-5FF; /* Latin glyphs */
}

/* @font-face {
  font-family: 'Source Serif Pro';
  font-display: fallback;
  font-weight: 200 900;
  font-style: normal;
  font-stretch: normal;
  src: url('/fonts/SourceSerif/WOFF2/VAR/SourceSerifVariable-Roman.ttf.woff2') format('woff2'),
       url('/fonts/SourceSerif/WOFF/VAR/SourceSerifVariable-Roman.ttf.woff') format('woff'),
       url('/fonts/SourceSerif/VAR/SourceSerifVariable-Roman.ttf') format('truetype');
  unicode-range: initial;
} */

*, *:before, *:after {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
